<%= form_for(@team) do |f| %>

<%= f.label :name %><br>
<%= f.text_field :name %>

<br>
<%= f.label :image %><br>
<%= f.url_field :image %>

<br>
<%= f.label :description %><br>
<%= f.text_field :description %>

<br>
<%= f.label :shop %><br>
<%= f.url_field :shop %>

<br>
<%= f.submit %>
<% end %>

