<h1>Delete Team</h1>
<p>
<strong>Name:</strong>
<%= @team.name %>
</p>
<p>
<strong>Image:</strong>
<%= image_tag @team.image %>
</p>
<p>
<strong>Description:</strong>
<%= @team.description %>
</p>
<p>
<strong>Shop:</strong>
<%= @team.shop %>
</p>

<%= link_to "Delete", teams_delete_path(:id => @team.id) %>
<%= link_to "Edit", edit_team_path(@team) %>
<%= link_to "Back", teams_path %>
