<div class="header">
        <ul class="header-nav">
            <% if user_signed_in? %>
              Logged in as <strong>
                <%= current_user.email %>
              </strong>.
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => "btn btn-default" %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, :class => "btn btn-default" %>
              <%= link_to "Sign in", new_user_session_path, :class => "btn btn-default" %>
            <% end %>
</ul>
</div>

<div class="teams">
<div class="container">
<div class="row">
<div class="col-md-2">
<h1>Teams</h1>
</div>
<div class="col-md-8">

<div class="row">
<br>
<% @teams.each do |team| %>
<div class="col-md-4">
<div class="caption">
<div class="row">
<table>
  <thead>
    
<th><h3 class="listing-name"><%= team.name %></h3></div>
<div class="listing-image"><%= image_tag team.image, width: '500', height: '300' %></div>
<div class="listing-description"><%= team.description %></div>
<div class="listing-shop"><%= link_to "Shop", team.shop %></div></th>
<th><span><%= link_to "Show", team_path(team) %></span>
<span><%= link_to "Edit", edit_team_path(team) %></span>
<span><%= link_to "Destroy", team, method: :delete, data: {confirm: 'Are you sure?'} %></span></th>
</thead></table><% end %>
</div>
<br>
<%= link_to 'New Team', new_team_path %>


