<%= form_for(@driver) do |f| %>
<%= f.label :name %><br>
<%= f.text_field :name %><br>

<%= f.label :image %><br>
<%= f.url_field :image %><br>

<%= f.label :bio %><br>
<%= f.text_field :bio %><br>

<%= f.label :shop %><br>
<%= f.url_field :shop %><br>

<%= f.submit %>
<% end %>
