<h1>Delete driver</h1>
<p><strong>Name:</strong>
<%= @driver.name %></p>
<p><strong>Image:</strong>
<%= image_tag @driver.image %></p>
<p><strong>Bio:</strong>
<%= @driver.bio %></p>
<p><strong>Shop:</strong>
<%= @driver.shop %></p>

<%= link_to 'Delete', drivers_delete_path(:id => @driver.id) %>
<%= link_to 'Edit', edit_driver_path(@driver) %>
<%= link_to 'Back', drivers_path %>
