<div>
        <ul class="header-nav">
            <% if user_signed_in? %>
              Logged in as <strong>
                <%= current_user.email %>
              </strong>.
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => "btn btn-default" %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, :class => "btn btn-default" %>
              <%= link_to "Sign in", new_user_session_path, :class => "btn btn-default" %>
            <% end %>
</ul>
</div>
<br>
<br>
<br>
<h1>Drivers</h1>
<% @drivers.in_groups_of(2).each do |driver| %>
<% drivers.select! {|x| !x.nil?} %>
<div class="row">
<% @drivers.each do |driver| %>
<div class="col-md-4">
<div class="caption">
<div class="listing-name"><%= driver.name %></div>
<div class="listing-image"><%= image_tag driver.image %></div>
<div class="listing-bio"><%= driver.bio %></div>
<div class="listing-shop"><%= driver.shop %></div>

<span><%= link_to "Show", driver %></span>
<span><%= link_to "Edit", edit_driver_path(driver.id) %></span>
<span><%= link_to "Destroy", driver, method: :delete, data: {confirm: "Are you sure?"} %></span>
<% end %>
<% end %>
</div>
</div>
</div>
<%= link_to "New driver", new_driver_path %>


