<div>
        <ul class="header-nav">
            <% if user_signed_in? %>
              Logged in as <strong>
                <%= current_user.email %>
              </strong>.
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => "btn btn-default" %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, :class => "btn btn-default" %>
              <%= link_to "Sign in", new_user_session_path, :class => "btn btn-default" %>
            <% end %>
</ul>
</div>
<p>Driver name:</strong>
<p><%= @driver.name %></p>
<p>Driver image:</strong>
<p><%= image_tag @driver.image %></p>
<p>Driver bio:</strong>
<p><%= @driver.bio %></p>
<p>Driver shop:</strong>
<p><%= @driver.shop %></p>

<%= link_to "Edit", edit_driver_path(@driver) %>
<%= link_to "Back", drivers_path %>
