/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

background: #00CC66;
  font-family: "Oxygen", sans-serif;
}

.header {
  background-color: #00CC66;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  height: 80px;
  position: fixed;
  text-align: center;
  width: 100%;
}
.container {
  margin: 0 auto 0;
  width: 960px;
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}



/* div */

div	{
	margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
}
table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 1px solid #DDD; }
