<footer class="footer">
  <small>
    The <a href="http://www.formula1.com/">official website of Formula 1</a>
    
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://www.sportowefakty.pl/">News</a></li>
    </ul>
  </nav>
</footer>
