<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Formula", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sign up",   new_user_registration_path, :class => "btn btn-default"  %></li>
        <li><%= link_to "Sign in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
